body {
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
}

#messages {
    height: 400px;
    overflow-y: auto;
    margin-bottom: 15px;
}

#messages li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #e9ecef;
    border-radius: 15px;
}

.form-control:focus, .btn:focus {
    box-shadow: none;
}

#status {
    margin-bottom: 20px;
}

.form-control {
    border: 1px solid #ced4da;
}

.btn-outline-primary {
    border-color: #ced4da;
}

footer {
    background-color: #e9ecef;
    color: #333;
}
